.c-box {
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.5s ease-out;

  &:hover {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  }
}

.c-new-box {
  padding: 8px;
  background: #fdfcfb;
  border: 1px dashed #e7e5de;
  border-radius: 15px;
}

.c-form-title {
  padding: 8px 0;
  margin: 16px 0;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px dashed #eaeaea;
}

.c-sub-text {
  font-size: 14px;
  color: #b4b0a3;
}

.c-list-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-list-item {
  width: 24%;
  margin-top: 16px;
}

.c-list-item:not(:nth-child(4n)) {
  margin-right: calc(4% / 3);
}

.c-list-item-3 {
  width: 32%;
  margin-top: 16px;
}

.c-list-item-3:not(:nth-child(3n)) {
  margin-right: calc(4% / 2);
}

.c-list-item-2 {
  width: 48%;
  margin-top: 16px;
}

.c-list-item-2:not(:nth-child(2n)) {
  margin-right: calc(4% / 1);
}
